.img-cntnr:hover{
    width: 100%;
    height: 80%;
    margin-top: 1rem;
    border-radius: 3rem;
    background-color: rgb(55, 56, 53, 0.1);
    cursor: pointer;
    transition: .3s ease all;
}
.local-slct{
    width: 10rem;
    height: 3rem;
}